[Unit]
Description=Heuresys Platform (aggregate target)
Requires=postgresql@16-heuresys.service pgbouncer.service redis-server.service
After=postgresql@16-heuresys.service pgbouncer.service redis-server.service

[Install]
WantedBy=multi-user.target
